# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

public
resources

assets/jsconfig.json
.DS_Store
**/.DS_Store
.idea

# Project dependencies
.cache
*.pyc
node_modules
yarn-error.log

/public
# Build directory
/build
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode

config.yaml
